:root {
  --primarycolor: #08c;
}

html,
body {
  font-family: sans-serif;
  line-height: 1.15;
  margin: 0;
}

.header {
  background-color: var(--primarycolor);
  padding: 30px;
}

.footer {
  background-color: var(--primarycolor);
  color: #fff;
  margin-top:30px;
  padding: 30px;
  text-align: center;
}

.footer a {
  color: #fff;
}

.content {
  margin: auto;
  overflow: auto;
  padding: 20px 20px 0 20px;
  max-width: 500px;
}

h1 {
  color: #fff;
}

summary {
  background-color: var(--primarycolor);
  color: #fff;
  cursor: pointer;
  display: list-item;
  font-weight: bold;
  margin-left: -50px;
  margin-right: -25px;
  padding: 5px;
}

details {
  border: 1px solid var(--primarycolor);
  display: block;
  padding: 0 25px 0 50px;
}

input[type=radio],
input[type=file] {
  margin: 10px 0 0 50px;
}

.square {
  border: 1px solid #ccc;
  display: block;
  float: left;
  width: calc(33% - 2px);
}

button {
  margin: 20px 10px 40px 0;
  padding: 10px 40px;
}

.help-icon {
  background: var(--primarycolor);
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primarycolor);
  color: #fff;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  height: 1.2em;
  margin-left: 20px;
  width: 1.2em;
  text-align: center;
  line-height: 1.2em;
}

#printer {
  position: absolute;
  left: -999px;
  top: 0;
}

.loader.show::after {
  animation: spin 2s linear infinite;
  border: 12px solid #0004;
  border-top: 12px solid var(--primarycolor);
  border-radius: 50%;
  content: "";
  display: block;
  height: 60px;
  left: calc(50vw - 30px);
  position: fixed;
  top: calc(50vh - 30px);
  width: 60px;
}

.loader {
  display: none;
}

.loader.show {
  background-color: #fff8;
  display: block;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
